@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

#col1,
#col2 {
  width: 50%;
  float: left;
  height: 1000px;
}

#col1 {
  background-color: rgba(0, 0, 255, 0.2);
}

#col2 {
  background-color: rgba(0, 255, 0, 0.2);
}

img {
  width: 100%;
}