@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

#col1,
#col2 {
  width: 50%;
  float: left;
  min-height: 1000px;
  padding: 30px;
  box-sizing: border-box;
}

#col1 {
  background-color: rgba(0, 0, 0, 0);
}

#col2 {
  background-color: rgba(0, 0, 0, 0);
}

img {
  width: 100%;
  margin-bottom: 30px;
}